.guess {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 4px;
}

.hslGuess {
  display: flex;
  gap: 4px;
  margin-bottom: 2px;
  position: relative;
  width: 100%;
  display: grid;
  place-content: center;
  border-radius: var(--radius);
  font-size: 1.15rem;
  min-height: 26px;

  transition: background-color 500ms ease-in-out;
}

.cell {
  position: relative;
  width: calc(100% / 6);
  display: grid;
  place-content: center;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--color-gray-700);
  border-radius: var(--radius);
  font-size: 1.5rem;

  transition: all 500ms ease-in-out;
}

.cell.correct {
  background: var(--color-success);
  border-color: var(--color-success);
  color: white;
}
.cell.incorrect {
  background: var(--color-gray-300);
  border-color: var(--color-gray-300);
  color: white;
}
.cell.misplaced {
  background: var(--color-warning);
  border-color: var(--color-warning);
  color: white;
}
