.guess {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.hslGuess {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
  position: relative;
  width: 100%;
  height: 76px;
  display: grid;
  place-content: center;
  border: 2px solid var(--color-gray-700);
  border-radius: var(--radius);
  font-size: 2rem;
}
